<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (msg) {%>
        <p><%= msg %></p>
    <%}%>
    <form action="movies-add" method="post" enctype="multipart/form-data">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title">
        <label for="imageUrl">Image: </label>
        <input type="file" name="imageUrl" id="imageUrl" accept=".jpg, .png">
        <label for="year">Release Date: </label>
        <input type="text" name="year" id="year">
        <label for="duration">Movie Duration: </label>
        <input type="text" name="duration" id="duration">
        <button type="submit">Submit</button>
    </form>
</body>
</html>